// Nova Card CSS
.welcom {
    padding: 20px 60px;

    li{
        padding-left: 40px;
        padding-top: 3px;
    }

    a{
        color: #3c4c5e;
    }

    li a:hover {
        color: rgb(255,176,71);
        background: -webkit-linear-gradient(147deg, rgba(255,176,71,1) 0%, rgba(251,114,147,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h1 {
        padding-bottom: 2px;
    }

    .cta {
        display: inline-block;
        padding: 15px 30px;
        margin-left: 78%;
        margin-top: 40px;
        background-color: #fff;
        color: black;
        border-radius: 5rem;
        text-decoration: none;
        box-shadow: 5px 5px 35px -13px #00000085;
    }
}

