// Import de polices
// Helvetica Neue
@font-face { 	font-family: "maine"; 	src: url('/font/ProximaNova-Reg.otf'); } 
@font-face { 	font-family: "maine_bold"; 	src: url('/font/ProximaNova-Sbold.otf'); } 
@font-face { 	font-family: "paris"; 	src: url('/font/Parisienne-Regular.ttf'); } 

// Les polices
$main_font : maine, Helvetica, Arial, sans-serif; 
$bold_font : maine_bold, Helvetica, Arial, sans-serif; 
$paris_font : paris, Helvetica, Arial, sans-serif; 