
//* Mes couleurs 
$background : #F7F7F7; 
$maine : #262F31; 
$hightlighe : #aa0202; 
$important : #d6a55d; 


//* Lables 
$food : #519122;
$wine : #e7796c; 
$bio : #86a02a; 
$loc : #da9342; 


//* Basic
$b : #000; 
$w : #fff; 
$gray : #A2A2A2;