
//* Mes couleurs 
$background : #F7F7F7; 
$maine : rgba(255,176,71,1); 
$main_sec : rgba(251,114,147,1);
$gradient :147deg, rgba(255,176,71,1) 0%, rgba(251,114,147,1) 100%;





//* Basic
$b : #000; 
$w : #fff; 
$gray : #A2A2A2;
