.last_sec {
    margin-left: 10%;
    margin-right: 4rem;
    margin-top: 20rem;
    width: 80%;
    max-width: 150rem;
    margin: 20rem auto;

    h3 {
        padding: 0 2rem;
        position: relative;
        top: .7rem;
    }
}


.last_title_contener {
    display: flex;
    margin: 7rem 0 4rem 0;
}

.title_left {
    width: 10%;
    border-bottom: 1px rgb(117, 117, 117) solid;
}

.title_right {
    flex-grow: 2;
    border-bottom: 1px rgb(117, 117, 117) solid;
}


.last_content {
    display: flex;
    .content_note {
        padding: 0 4rem 0 2rem;
    }
}

@media screen and (max-width: 770px) {

    .last_content {
        flex-direction: column;
    }

    .last_sec {

        width: 90%;

    }
    
}


// CONTENu

.content_pics {


    img {
        height: 10rem;
        width: auto;
        margin: .5rem;
    }
  }