.timeline_contener {
    position: fixed;
    left: 0;
    top: 0; 
    display: flex;
    justify-content: center;
    align-items: center;


    max-width: 10rem;
    min-width: 5rem;
    width: 10%;
    height: 100%;
}


.timeline {
    background-color: #DCDCDC;
    height: 50vh;
    width: .3rem;
    border-radius: 2rem;
}

.timeline_progression {
    background: rgb(255,176,71);
    background: linear-gradient(147deg, rgba(255,176,71,1) 0%, rgba(251,114,147,1) 100%);
    width: 100%;
    height: 0%;
    border-radius: 2rem;
}

@media screen and (max-width: 650px) {

    .timeline {
        height: 100vh;
    

    }



    .timeline_contener {
        justify-content: left;
    }


    }
