:root {
  --primary: #fb7491;
  --primary-dark: rgb(209, 0, 105, 1);
  --primary-70: rgba(254, 1, 129, 0.7);
  --primary-50: rgba(254, 1, 129, 0.5);
  --primary-30: rgba(254, 1, 129, 0.3);
  --primary-10: rgba(254, 1, 129, 0.1);
  --logo: #fb7491;
  --sidebar-icon: #fb7491;
}

.ml-8.mb-4.text-xs.tracking-wide {
  color: rgb(160, 160, 160);
  color: #ffffff;
    background: -webkit-linear-gradient(147deg, #ffb047 0%, #fb7293 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul{
  margin-bottom: 5rem;
}

.btn-primary{
  background: -webkit-linear-gradient(147deg, #ffb047 0%, #fb7293 100%);
  border-radius: 3rem;
}

.btn-primary:hover{
  background: -webkit-linear-gradient(147deg, #ffaf47f1 0%, #fb7292f1 100%);
  border-radius: 3rem;
}

.sidebar-label {
  color: black;
}
.bg-grad-sidebar a {
  color: black;
}

.bg-grad-sidebar {


  box-shadow: 6px 6px 30px 7px rgba(49, 50, 50, 0.1);

  color: black;
  position: fixed;
    right: 0;
    width: 300px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgb(254, 1, 129, 1)),
    to(#3c4655)
  );

  background-image: linear-gradient(
    0deg,
    #fff,
    #fff
  );

  background-color: #fff;
}


.content {
  background-color: rgb(247, 245, 245);
}

.flex.flex-wrap.-mx-3.mb-3{
  width: calc(90vw - 300px);
  max-width: 1500px;
  margin-top: 2rem;
}


.px-view.py-view.mx-auto {
  width: calc(90vw - 300px);
  max-width: 1500px;
  margin-left: 3rem;
  margin-top: 2rem;

}


.flex.items-center.relative.shadow.h-header.bg-white.z-20.px-view{
  position: fixed;
  top: 0;
  width: 100vw;
}