.flex.justify-between.flex-1 {
    display: none;
}


.text-sm.text-gray-700.leading-5 {
    display: none;
}


.pagin_inner{
    display: inline-block;
    align-items: center;
    height: 10rem;
}

.paginate{
    margin: auto;
    text-align: center;
    width: 20rem;
}